.header .logo {
    display: block;
    float: left;
    width: 120px;
    height: auto;
    border: 5px dotted yellow;
}

.header h1 {
    display: inline-block;
    color: brown;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 50px;
    background-color: skyblue;
    border: 2px dotted black;
    width: fit-content;
    margin-left: 7em;
}

.slogan {
    display: block;
    color: green;
    font-family: monospace, 'Courier New';
    font-size: 15px;
    font-weight: bold;
    border: 2px dotted black;
    float: right;

}

.body p {
    color: blue;
    margin-top: 0;
    padding: 40px;
    border: 2px dotted black;
}


.me {
    display: block;
    color: red;
    font-weight: bold;
    font-size: 22px;
    border: 10px;
    border-color: brown;
    border-style: groove;
    margin-left: 21.5em;
}

.experi {
    font-size: 24px;
    font-weight: bold;
    font-style: monotone;
    border: 2px dotted red;
    padding: 10px;
    width: 200px;
    margin: 25px auto;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 20.5em;
    border-radius: 200px 10px;
}

p.shorthand {
    font: 24px bold italic Ariel;
    width: fit-content;
    margin: 0 auto;
    border: red solid 5px;
}